.Invalid {
  background-color: gray;
}

.Weekdays {
  background-color: green;
}

.Weekends {
  background-color: yellow;
}

.Holiday {
  background-color: orange;
}


.hovering:hover {
  background-color: red;
}
